.albumContainerB {
    color: var(--white);
    text-align: center;
    margin-block-start: 1.5rem;
    margin-block-end: 1rem;
    display: flex;
 }

.albumContainerB-album {
    font: var(--headline1);
    margin: 0;
}

.albumContainerB-artist {
    font: var(--baseFont);
    margin: 0;
}

.albumContainerB-image {
    inline-size: 19.5rem;
    block-size: 11rem;
}

.albumB {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-inline-start: 1.5rem;
    text-align: left;
}

.albumB  button {
    align-self: flex-start;
}